<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crm · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
 
 <header class="navbar" id ="top_nav" >
  <section class="navbar-section">
    <div class="input-group input-inline " id="search">
    
      <input class="form-input column " type="text" placeholder="Search CRM" id="search_box">
     
    </div>
  </section>
  <section class="navbar-section" >
  <div id="right_nav"> Sandra Eden</div>
  </section>
 
</header>
 
 <header class="navbar">
  <section class="navbar-section" id ="second_nav">

        <a href="/accounts" class="btn btn-link second_nav_link">Accounts</a>
    <a href="/opportunities" class="btn btn-link second_nav_link">Opportunity</a>
    <a href="/contacts." class="btn btn-link second_nav_link">Contacts</a>
     <a href="/leads" class="btn btn-link second_nav_link">Lead</a>
  </section>
  
</header>

    <main role="main" class="body_container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    
    <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
